<template name="Header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light header fixed-top">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      {{#unless currentUser}}
      <a class="navbar-brand" href="/"
        ><strong>Emergency Response Decision Support System</strong></a
      >
      {{else}} {{#unless isInRole 'Admin'}}
      <h2 class="site-title navbar-brand">
        <strong>Emergency Response Decision Support System</strong>
      </h2>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <h6 class="site-title ml-auto">{{currentUser.profile.fname}}</h6>
        </li>
        <li class="nav-item">
          <h6 class="site-title  ml-auto logout">
            <a href="#"><i class="fa fa-sign-out"></i><span>Signout</span></a>
          </h6>
        </li>
      </ul>

      {{else}}
      <h4 class="site-title p-1">
        <a href="/dashboard">
          <img src="/logo.png" height="32px" width="32px" alt="ipanema" />
          <strong>Emergency Response Decision Support System</strong>
        </a>
      </h4>
      <h4 class="site-title ml-auto">{{currentUser.profile.fname}}</h4>
      {{/unless}}
      <!-- {{currentUser.roles.[0]}} -->
      {{/unless}}
    </div>
  </nav>
</template>
